.no-link-style {
    text-decoration: none; /* Remove underline */
    color: inherit;        /* Inherit color from parent (button) */
    display: inline-block;  /* Ensure the anchor behaves like a button child */
    width: 100%;            /* Optional: To fill the button */
    height: 100%;           /* Optional: To fill the button */
}

.markdown-body {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 2px solid #c4c6c9;
}