.no-link-style {
    text-decoration: none; /* Remove underline */
    color: inherit;        /* Inherit color from parent (button) */
    display: inline-block;  /* Ensure the anchor behaves like a button child */
    width: 100%;            /* Optional: To fill the button */
    height: 100%;           /* Optional: To fill the button */
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 2px solid #c4c6c9;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
}